[[source]]
name = "pypi"
url = "https://pypi.org/simple"
# url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true

[packages]
colorama = "*"
mysql-connector = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.11"

[pipenv]
allow_prereleases = true
